
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 481px) and (max-width:850px){
.main{
    width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



}


@media screen and (min-width:768px){
    .main{
        flex-direction: row;
    }
}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    margin: 1rem;
    width: 280px;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 2px 2px rgb(161, 159, 159);
    color: black



}

img{
    height: 300px;
    width: 280px;
    border-radius: 1rem 1rem 0 0;

}

a{
   
    width: 30%;
    background-color: coral;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
}
